<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="KlipClear Application Test Automation Test Suite">

	<listeners>
		<listener class-name="com.Listeners.ExtentReporterNG" />
		<listener class-name="com.Listeners.ExtentReporterNG"/>


	</listeners> 


	<test name="Amazon Mobile App Test Cases Chrome">

		<classes>
			<class name="com.tests.SettingsPageTest"></class>
			<class name="com.tests.ProductsPageTest"></class>
			<class name="com.tests.ShopByDepartmentPageTest"></class>
			<class name="com.tests.TodaysDealPageTest"></class>
				</classes>

	</test>

</suite>
		